html, body {
  height: 100%;
}
#root, .App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header{
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
main{
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
footer{
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
.card {
  max-width: 600px;
}